@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui" {
    themes: light --default, dark;
}

* {
    font-family: Outfit;
}

.handwriting {
    font-family: "Caveat", cursive;
}

@layer utilities {
    .sec_padding {
        @apply py-4 md:py-6 lg:py-8 xl:py-10;
    }
}

@layer components {
    .section_heading {
        @apply w-full lg:max-w-xl mx-auto space-y-4;
    }

    .section_title {
        @apply text-2xl md:text-3xl font-medium;
    }

    .btn_accent {
        @apply bg-accent text-white gap-2.5 hover:bg-yellow-600  transition-all duration-200 ease-in-out;
    }
}

.rich-text {
    @apply text-gray-500 dark:text-white/70;
}

.rich-text p {
    margin-bottom: 16px;
}

.rich-text h1 {
    font-size: 18px;
    font-weight: 800;
    margin: 20px 0;
}

.rich-text h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 16px 0;
}

.rich-text h3 {
    font-size: 15px;
    font-weight: 600;
    margin: 16px 0;
}

.rich-text h4 {
    font-size: 15px;
    font-weight: 500;
    margin: 16px 0;
}

.rich-text h5 {
    font-size: 14px;
    font-weight: 400;
    margin: 12px 0;
}

.rich-text h6 {
    font-size: 12px;
    font-weight: 400;
    margin: 8px 0;
}

.rich-text strong {
    font-weight: 700;
}

.rich-text ol {
    margin-left: 30px;
    list-style-type: decimal;
}

.rich-text ul {
    margin-left: 30px;
    list-style-type: disc;
}

.rich-text li {
    margin-bottom: 8px;
}
