@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui" {
    themes: light --default, dark;
}

* {
    font-family: Outfit;
}

.handwriting {
    font-family: "Caveat", cursive;
}

@layer components {
    .section_heading {
        @apply w-full lg:max-w-xl mx-auto space-y-4;
    }

    .section_title {
        @apply text-2xl md:text-3xl font-medium;
    }


    .btn_accent {
        @apply bg-accent text-white gap-2.5 hover:bg-yellow-600  transition-all duration-200 ease-in-out;
    }
}